* {
    margin: 0;
    padding: 0;
    line-height: 0;
}

body {
    text-align: center;
    background-color: aquamarine;
}

.container {
    width: 600px;
    border: 4px solid salmon;
    margin: auto;
    overflow: auto;
    background-color: white;
}

.card  {
    width: 200px;
    float: left;
    border: 2px solid white;
    box-sizing: border-box;
}

.card:hover {
    opacity: 0.7;
    cursor: pointer;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade{
    opacity: 0.5;
    animation: fadeIn 0.5s forwards;
}

.active {
    opacity: 0.7;
}